node_modules
npm-debug.log
vendor
.git
.gitignore
README.md
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
docker-compose.yml
Dockerfile
.dockerignore
public/storage